structure-mod07-starter/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7cf62ca9-5960-4c9c-9e42-30fd2f1e11eb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f4509564-6088-4ef4-b1f9-917bfd732069" >
		<http:request-connection host="mu.learn.mulesoft.com" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="c618bcb6-31a8-4ce9-b37d-e6f0b1ff19c6" >
		<http:request-connection host="${http.host}" port="${http.port}"/>
	</http:request-config>
	<global-property doc:name="Global Property" doc:id="80d62210-741d-474d-acfa-912a19b66104" name="env" value="dev" />
	<configuration-properties doc:name="Configuration properties" doc:id="f8321d1b-534d-4057-9dee-fc2d0c84e057" file="${env}-properties.yaml" />
	<flow name="initialize" doc:id="304b28bc-0558-4593-aebe-004ab8d04b8c" >
		<http:listener doc:name="HTTP: GET /flights" doc:id="6d185fbd-aa8a-4c51-81b3-15b0f97f638a" config-ref="HTTP_Listener_config" path="/flights"/>
		<set-variable value="#[attributes.queryParams.destination]" doc:name="destination" doc:id="69ed4dd8-a3af-48f8-ace3-9905083273c8" variableName="destination"/>
		<set-variable value="#[attributes.headers.'requester-id']" doc:name="Requester-id" doc:id="1cb1d55a-eba8-48c5-96fa-b1e31070abb6" variableName="requester-id"/>
		<http:request method="GET" doc:name="Request" doc:id="4e158ff2-2489-45a2-9bc3-12be7a098987" config-ref="HTTP_Request_configuration" path="/american/{destination}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"requester-id" : attributes.queryParams.'requester-id'
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"destination" : attributes.queryParams.destination
}]]]></http:uri-params>
		</http:request>
		<set-variable value="#[payload]" doc:name="payload-GET" doc:id="05ff4f5c-30fa-4d71-b422-af82262196d4" variableName="payload-GET"/>
		<async doc:name="Async" doc:id="f5aeabbf-d95e-4225-9763-cec0a70ef07e" >
			<http:request method="POST" doc:name="HTTP:POST /processData" doc:id="6b307d42-dd90-43aa-8a67-5efffa475a78" config-ref="HTTP_Request_configuration1" path="/processData" responseTimeout="300000">
			<http:headers><![CDATA[#[output application/java
---
{
	"date" : attributes.headers.date,
	"requester-id" : vars.'requester-id',
	"destination" : vars.destination
}]]]></http:headers>
		</http:request>
		</async>
		<set-payload value="#[output application/json ---
{
    &quot;payload-GET&quot;: vars.'payload-GET',
	&quot;payload-PROCESS&quot;: payload,
    &quot;destination-process&quot;: vars.destination,
    &quot;requesterID-process&quot;: vars.'requester-id'
}]" doc:name="final summary" doc:id="68c44115-a04b-420b-8fe9-aa83f6d5c305" />
	</flow>
	<flow name="mockData" doc:id="578be7bc-ce05-493e-9385-ef388dbcc6b8" >
		<set-payload value='#[output application/json
---
[
        {
            "planeType": "Boeing 737",
            "code2": "1093",
            "toAirport": "SFO",
            "takeOffDate": "2015-02-11",
            "fromAirport": "MUA",
            "price": 142,
            "airlineName": "American Airlines",
            "seatsAvailable": "1",
            "code1": "rree"
        },
        {
            "planeType": "Boeing 777",
            "code2": "1994",
            "toAirport": "SFO",
            "takeOffDate": "2015-01-01",
            "fromAirport": "MUA",
            "price": 676,
            "airlineName": "American Airlines",
            "seatsAvailable": "none",
            "code1": "rree"
        },
        {
            "planeType": "Boeing 737",
            "code2": "2000",
            "toAirport": "SFO",
            "takeOffDate": "2015-02-20",
            "fromAirport": "MUA",
            "price": 300,
            "airlineName": "American Airlines",
            "seatsAvailable": "30",
            "code1": "rree"
        },
        {
            "planeType": "Boeing 737",
            "code2": "3000",
            "toAirport": "SFO",
            "takeOffDate": "2015-02-01",
            "fromAirport": "MUA",
            "price": 900,
            "airlineName": "American Airlines",
            "seatsAvailable": "none",
            "code1": "rree"
        },
        {
            "planeType": "Boeing 737",
            "code2": "4567",
            "toAirport": "SFO",
            "takeOffDate": "2015-01-20",
            "fromAirport": "MUA",
            "price": 456,
            "airlineName": "American Airlines",
            "seatsAvailable": "100",
            "code1": "rree"
        }
    ]]' doc:name="flights" doc:id="71c10e25-6deb-4850-9659-a1615d4e75ec" mimeType="application/json" />
	</flow>
	<flow name="processData" doc:id="c7379ac2-5182-4bd2-8475-cd7c520f8319" >
		<http:listener doc:name="Listener" doc:id="5f356ecf-1ac5-4b64-ac84-c64d99e03278" config-ref="HTTP_Listener_config" allowedMethods="POST" path="/processData"/>
		<ee:transform doc:name="summary payload" doc:id="2ea0ec2d-22c7-48d1-94aa-529b34372457" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	payload: payload as Array map ((object) ->
		{
			planeType: object.planeType,
			flightDate: object.takeOffDate,
			price: object.price
		}
	),
    destination: attributes.headers.destination,
    requesterID: attributes.headers.'requester-id',
	"flight-date-return": attributes.headers.'date'
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="process data summary" doc:id="a14ca1a7-43ef-4479-b0d1-56d15a01c3a0" message="#[payload]"/>
	</flow>
</mule>
